<div class="ui_distrito">
    <form id="form_distrito_{{ rr }}" class="form_distrito">
        <input type="hidden"
            name="id"
            {% if mobj %} value="{{ mobj.pk }}" {% endif %}
        >
        <div class="row">
            <div class="col-md-6">
                <label>Fuente</label>
                <div class="input-group flex-nowrap am_focus_highlight">
                    <input
                        type="text"
                        name="fuente"
                        class="form-control"
                        placeholder="Fuente"
                        {% if mobj %} value="{{ mobj.fuente }}" {% else %} value="ND" {% endif %}
                    />
                </div>
            </div>
            <div class="col-md-6">
                <label>Departamento</label>
                <div class="input-group flex-nowrap am_focus_highlight">
                    <select
                        name="dptoobj_id"
                        class="form-control"
                    >
                    </select>
                </div>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-md-6">
                <label>Código Distrito</label>
                <div class="input-group flex-nowrap am_focus_highlight">
                    <input
                        type="number"
                        name="codigo_distrito"
                        class="form-control"
                        placeholder="Código"
                        {% if mobj %} value="{{ mobj.codigo_distrito }}" {% else %} value="0" {% endif %}
                    />
                </div>
            </div>
            <div class="col-md-6">
                <label>Nombre Distrito</label>
                <div class="input-group flex-nowrap am_focus_highlight">
                    <input
                        type="text"
                        name="nombre_distrito"
                        class="form-control"
                        placeholder="Nombre"
                        {% if mobj %} value="{{ mobj.nombre_distrito }}" {% endif %}
                    />
                </div>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-md-12">
                <label>Habitante</label>
                <div class="input-group flex-nowrap am_focus_highlight">
                    <input
                        type="text"
                        name="habitante"
                        class="form-control"
                        placeholder="Habitante"
                        {% if mobj %} value="{{ mobj.habitante }}" {% endif %}
                    />
                </div>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-md-12">
                <label>Descripción</label>
                <div class="input-group flex-nowrap am_focus_highlight">
                    <input
                        type="text"
                        name="descripcion"
                        class="form-control"
                        placeholder="Descripción"
                        {% if mobj %} value="{{ mobj.descripcion }}" {% endif %}
                    />
                </div>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-md-12">
                <label>Comentarios</label>
                <div class="input-group flex-nowrap am_focus_highlight">
                    <textarea
                        name="comentarios"
                        class="form-control"
                        placeholder="Comentarios"
                        rows="3"
                    >{% if mobj %}{{ mobj.comentarios }}{% endif %}</textarea>
                </div>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-md-12 text-start">
                <button
                    class="btn btn-primary"
                    type="submit"
                >
                    Guardar
                </button>
            </div>
        </div>
    </form>
</div>
<script type="text/javascript">
    qelem('#offcanvasGlobalUiLabel').innerHTML = `{% if mobj %}Modificar Distrito {{ mobj.pk }}{% else %}Crear Distrito{% endif %}`;

    // Populate Departamento select using se_populate
    form_search.se_populate({
        surl: '{% url "iom" %}',
        dele: '#form_distrito_{{ rr }} select[name=dptoobj_id]',
        app_name: 'Sifen',
        model_name: 'Departamentos',
        field_display: ['nombre_departamento'],
        field_id: ['id'],
        db_fields: ['id', 'nombre_departamento'],
        dbcon: 'default',
        theme: 'bootstrap-5',
        width: '100%',
        allowClear: true,
        placeholder: 'Seleccione departamento',
        dropdownParent: $('#offcanvasGlobalUi'),
        headers: {
            'X-CSRFToken': OptsIO.getCookie('csrftoken')
        },
        sort: [
            {'dataIndx': 'nombre_departamento', 'dir': 'up'},
        ]
    }).then(() => {
        {% if mobj %}
        $('#form_distrito_{{ rr }} select[name=dptoobj_id]').val('{{ mobj.dptoobj.id }}').trigger('change');
        {% endif %}
    });

    save_distrito = (target) => {
        var fdata = new FormData();
        fdata.append('module', 'OptsIO');
        fdata.append('package', 'io_maction');
        fdata.append('attr', 'IOMaction');
        fdata.append('mname', 'process_record');
        fdata.append('model_app_name', 'Sifen');
        fdata.append('model_name', 'Distrito');
        fdata.append('dbcon', 'default')
        log.info(`#form_distrito_{{ rr }} Preparing data to be sent to the backend`);
        let formData = new FormData(target);
        let edata = form_serials.form_to_json(formData);
        seldis = ['dptoobj_id']
        seldis.forEach((idx) => {
            vv = $(`#form_distrito_{{ rr }} select[name=${idx}]`).val();
            if (vv !== undefined) {
                edata[idx] = vv
            }
        })
        log.info(`#form_distrito_{{ rr }} edata to be sent: ` + JSON.stringify(edata, null, 2));
        fdata.append('uc_fields', jfy(edata));
        log.info(`#form_distrito_{{ rr }} b_vals to be sent: ` + JSON.stringify([], null, 2));
        fdata.append('b_vals', jfy([]))
        log.info(`#form_distrito_{{ rr }} c_a to be sent: ` + JSON.stringify([], null, 2));
        fdata.append('c_a', jfy([]))
        log.info(`#form_distrito_{{ rr }} a_vals to be sent: ` + JSON.stringify([], null, 2));
        fdata.append('a_vals', jfy([]))
        log.info(`#form_distrito_{{ rr }} Set overlay to the form`);
        document.querySelector('#form_distrito_{{ rr }}').classList.add('overlay-container');
        document.querySelector('#form_distrito_{{ rr }}').classList.add('overlay');
        return axios.post(
            '{% url "iom" %}',
            fdata,
            { headers: {
                'X-CSRFToken': OptsIO.getCookie('csrftoken')
                }
            })
        .then((rsp)=>{
            msgs = rsp.data.msgs;
            log.info(`#form_distrito_{{ rr }} Response msgs: ` + JSON.stringify(msgs, null, 2));
            if (!rsp.data.hasOwnProperty('msgs')) {
                msgs = [rsp.data];
            }
            got_error = false;
            msgs.forEach((ee)=>{
                if (ee.error) {
                    log.error(`#form_distrito_{{ rr }} There is an error from the backend ${jfy(ee)}`);
                    got_error = true;
                }
            })
            log.info(`#form_distrito_{{ rr }} Compiling messages to show to the user ${msgs}`);
            UiB.BeMsgHandle({
                rsps: msgs,
                timer: 2000,
                offcanvasglobal: true
            })
            return msgs;
        }).then((msgs)=>{
            if (got_error === false) {
                log.success(`#form_distrito_{{ rr }} There is no error reload the datatable {{ t_guid }}`);
                $('#{{t_guid}}').DataTable().ajax.reload();
            }
        }).catch((err)=>{
            log.error(`#form_distrito_{{ rr }} Error in save record: ` + JSON.stringify(err, null, 2));
            UiB.MsgError(err);
        }).finally(()=>{
            log.info(`#form_distrito_{{ rr }} Removing overlay from the form`);
            let ft = document.querySelector('#form_distrito_{{ rr }}');
            if (ft) {
                ft.classList.remove('overlay-container');
                ft.classList.remove('overlay');
            }
        });
    }

    qelem('#form_distrito_{{ rr }}').addEventListener('submit', (evt)=>{
        evt.preventDefault();
        log.info(`#form_distrito_{{ rr }} Submitting form`);
        save_distrito(event.target);
    })

</script>
