<style>
    .select2-selection {
        height: 50px !important;
    }

</style>

<div
    class="scroll pe-5"
    data-kt-scroll="true"
    data-kt-scroll-height="auto"
    data-kt-scroll-wrappers="#RetencionHome"
    data-kt-scroll-offset="100px">
    <div id="RetencionHome">
        <div class="t_modal_retencion"></div>
        <h2 class="text text-left">Retencion</h2>
        <div class="d-flex">
          <div class="p-2 flex-grow-1">
            {% if perms.OptsIO.formconsultar_retencion_ver  %}
              <form id="formconsultar_retencion" class="row g-3">
                {% if perms.OptsIO.formconsultar_retencion_qs_clientecodigo_id_ver  %}
                    <div class="col-xs-5 col-sm-3">
                        <label><i onclick="form_select.clear_select2('select[name=qs_clientecodigo_id]'); $('#info_cliente_state').html('')" class="text-danger ri-user-line"></i>Cliente</label>
                        <div class="input-group flex-nowrap fl_focus_highlight">
                            <select 
                            {% if not perms.OptsIO.formconsultar_retencion_qs_clientecodigo_id_edita  %}
                            readonly
                            disabled
                            {% endif %}
                            name="qs_clientecodigo_id" class="fl_select form-select"></select>
                        </div>
                    </div>
                {% endif %}
                {% if perms.OptsIO.formconsultar_retencion_btn_buscar  %}
                    <div class="col-auto">
                        <button id="btn-consultar-retencion-{{ rr }}" style="margin-top: 22px;" 
                        {% comment %} onclick="DrawConsultarPaquete();" {% endcomment %}
                        class="btn btn-primary btn-lg fl_focus_highlight">
                        <i class="mdi mdi-table-search"></i>
                        Buscar</button>
                    </div>
                {% endif %}
              </form>
            {% endif %}
          </div>
          <div class="p-2">
            {% if perms.OptsIO.table_retencion_eje_retencion  %}
              <button id="btn-retencion-{{rr}}-create" style="margin-top: 22px;"  class="btn btn-lg btn-info">Retencion</button>
            {% endif %}
          </div>
        </div>
        <div id="table_container_Retencion"></div>
    </div>
</div>

<script type="text/javascript">
    form_search.se_select({
      surl: '{% url "iom" %}',
      dele: 'select[name=qs_clientecodigo_id]',
      app_name: 'FL_Structure',
      model_name: 'Clientes',
      field_display: ['clientecodigo', 'normalize_name' ],
      field_id: ['clientecodigo'],
      db_fields: ['clientecodigo', 'tarifa'],
      db_methods: ['normalize_name'],
      dejoin: ' ',
      qs_be: [],
      sterm: [
          'or_clientenombre__icontains', 
          'or_clienteapellido__icontains',
          'or_clientecodigo__icontains',
          'or_clienteci__icontains',
          'or_ruc__icontains'
      ],
      dbcon: 'fl',
      headers: {
          'X-CSRFToken': OptsIO.getCookie('csrftoken')
      },
      specific_search: {
          'module': 'apps.ReceptionPackages',
          'package': 'mng_packages',
          'attr': 'MPackages',
          'mname': 'search_client',
      },
      init_select2: true,
      theme: 'bootstrap-5',
      width: '100%',
  })

  $('select[name=qs_clientecodigo_id]').on('change', (evt) => {
    DrawRetencionHome();
  })

  $('select[name=qs_doc_tipo]').on('change', (evt) => {
    DrawRetencionHome();
  })

  $('select[name=qs_cobranza]').on('change', (evt) => {
    DrawRetencionHome();
  })

  documentrecibo_home_be = function (data, settings) {
      tt = qelem(`#table_container_Retencion`);
      tt.classList.add('overlay-container');
      tt.classList.add('overlay');
      crdata = Object.assign({}, settings.ajax.initquery);
      mquery = [];
      t_guid = settings.ajax.t_guid;
      //clientecodigo = $('select[name=qs_clientecodigo]').val()
      qs_clientecodigo_id = $('select[name=qs_clientecodigo_id]').val()
      if ((qs_clientecodigo_id !== '') && (qs_clientecodigo_id !== null) && (qs_clientecodigo_id !== undefined)) {
        mquery.push({field: 'pdv_codigo',  value: qs_clientecodigo_id});
      }
      if (mquery.length > 0) {
          crdata.mquery = jfy(mquery);
      }
      adata = Object.assign(data, crdata);
      return adata
    }

      t_ofh = `dtable_${OptsIO.s4generate()}`;
      crud_tmpl =  'Sifen/RetencionCreateUi.html'
      dt_ofh_pc = Grid.datatables_wrapper({
          t_guid: t_ofh,
          url_exec: '{% url "iom" %}',
          url_tmpl: '{% url "dtmpl" %}',
          crud_tmpl: crud_tmpl,
          with_crud: true,
          with_gsearch: false,
          title: '',
          tselector: 'table_container_Retencion',
          app_name: 'Sifen',
          model_name: 'Retencion',
          model_pk: 'id',
          record_delete: true,
          cls_table: 'cell-border row-border table table-sm',
          cls_thead: 'border-gray-900',
          state_field: {},
          dbcon: 'default',
          mquery: [],
          always_initquery: false,
          plength: 300,
          c_a: [{
            'module': 'apps.Sifen',
            'package': 'mng_sifen',
            'attr': 'MSifen',
            'mname': 'generando_documentrecibo',
            'cont': false
          }],
          crud_btns: {
            create: {btn: false, event: false, label: 'Retencion'},
            update: {btn: false, event: false},
            delete: {btn: false, event: false, label: 'Anular'},
          },
          t_opts: {
              select: {
                style: 'os'
              },
              dom: 'it',
              fixedHeader: false,
              responsive: null,
              scrollCollapse: true,
              scrollX: true,
              scrollY: 600,
              paging: true,
              order: [[1, 'desc']],
              createdRow: function( row, data, dataIndex){
                if (data.ek_estado === 'Aprobado') {
                  row.style.backgroundColor = '#8EF07A';
                }
                if (data.ek_estado === 'Rechazado') {
                    row.style.backgroundColor = '#DA00128A';
                }
                if (data.ek_estado === 'Inutilizado') {
                    row.style.backgroundColor = '#E99A238A';
                }
              },
              rowId: function(row, se) {
                  return `tr_tclh_${row.id}`
              }
          },
          builder_be: documentrecibo_home_be,
          columns: [
               { fdis: true, gre: false, btyp: 'loc', idx: null, tit: 'ACC',  dtyp: 'str', dfl: '', nord: false, 
               //<i class="tr-recibos-query fs-extra-lg text text-info mdi mdi-archive-eye"></i>
                dfcon: `
                  {% if perms.OptsIO.table_retencion_eje_abrirregistro  %}
                    <i class="tr-retencion-query fs-extra-lg text text-info mdi mdi-archive-eye-outline"></i>
                  {% endif %}
                `,
               },
              { fdis: true,
                gre: true,
                btyp: 'fdb',
                idx: 'id',
                tit: 'ID',
                cls: 'align-left',
                dtyp: 'str',
                hide: true
              },
              { fdis: true, 
                gre: true, 
                btyp: 'fdb', 
                idx: 'doc_relacion_numero', 
                tit: 'Factura', 
                cls: 'align-left', 
                dtyp: 'str', 
                hide: false,
              },
              { fdis: true, 
                gre: true, 
                btyp: 'fdb', 
                idx: 'doc_relacion_monto', 
                tit: 'Factura Monto', 
                cls: 'align-left', 
                dtyp: 'str', 
                hide: false,
                render: (data, type, rowobj) => {
                  return UiN.formatNumberU(parseFloat(data).toFixed(0));
                }
              },
              { fdis: true, 
                gre: true, 
                btyp: 'fdb', 
                idx: 'retencion_numero', 
                tit: 'Numero', 
                cls: 'align-left', 
                dtyp: 'str', 
                hide: false,
              },
              { fdis: true,
                gre: true,
                btyp: 'fdb',
                idx: 'retencion_fecha', 
                tit: 'Fecha', 
                cls: 'align-left', 
                dtyp: 'str', 
                hide: false,
                render: (data, type, rowobj) => {
                    return moment(data).format('DD/MM/YY')
                }
              },
              { fdis: true, 
                gre: true, 
                btyp: 'fdb', 
                idx: 'retencion', 
                tit: 'RETENCION', 
                cls: 'align-left', 
                dtyp: 'str', 
                hide: false,
                render: (data, type, rowobj) => {
                  return UiN.formatNumberU(parseFloat(data).toFixed(2));
                }
              },
              { fdis: true, 
                gre: true, 
                btyp: 'fdb', 
                idx: 'pdv_nombrefactura', 
                tit: 'Cliente', 
                cls: 'align-left', 
                dtyp: 'str', 
                hide: false,
              },
              { fdis: true, 
                gre: true, 
                btyp: 'fdb', 
                idx: 'pdv_ruc', 
                tit: 'Ruc', 
                cls: 'align-left', 
                dtyp: 'str', 
                hide: false,
              },
          ]
      })


      

DrawRetencionHome = ()=> {
  $(`#${t_ofh}`).DataTable().ajax.reload(checkRetencion);
}

OverlayRetencionHome = () => {
  tt = qelem(`#table_container_Retencion`);
  tt.classList.remove('overlay-container');
  tt.classList.remove('overlay');
}

checkRetencion = (rdata)  => {
  if (rdata.data.length === 0) {
    UiB.MsgInfo('Sin resultados');
  }
  OverlayRetencionHome();
}
{% if perms.OptsIO.formconsultar_retencion_ver  %}
  qelem('#formconsultar_retencion').addEventListener('submit', (evt)=>{
    evt.preventDefault();
    DrawRetencionHome();
  });
{% endif %}

$(`#${t_ofh}`).on('draw.dt', function() {
  OverlayRetencionHome();
})

AbrirRetencion = (data) => {
  let mid =  `modal_${OptsIO.s4generate()}`;
  dattrs = {
    modal_selector: `#${mid}`,
    t_guid: t_ofh,
    field_pk: 'id',
    pk: data,
    from_consultar_retencion: true,
    sui_rr: '{{ rr }}'
  };
  OptsIO.getTmpl({
      model_app_name: 'Sifen',
      model_name: 'Retencion',
      pk: data,
      dbcon: 'default',
      url: '{% url "dtmpl" %}',
      dattrs: dattrs,
      template: crud_tmpl,
      raw: true
  }).then((rsp)=>{
      let data = rsp.data;
      if (typeof(data) === "object") {
        UiB.MsgError(`NO SE ENCONTRARON RESULTADOS`);
      } else {
        UiB.drawModal({
          title: ``,
          content: data,
          target: '.t_modal_retencion',
          nid: mid
        })
      }
      UiB.kILLLoaderAjax();
      
    })
}

$(`#${t_ofh} tbody`).on('click', '.tr-retencion-query', function () {
  let row = $(this).closest('tr');
  let data = $(`#${t_ofh}`).DataTable().row( row ).data().id;
  AbrirRetencion(data)
})
{% if perms.OptsIO.table_retencion_eje_retencion  %}
qelem(`#btn-retencion-{{rr}}-create`).addEventListener('click', (evt)=>{
    let mid =  `modal_${OptsIO.s4generate()}`;
    dattrs = {
        modal_selector: `#${mid}`,
        t_guid: t_ofh,
        sui_rr: '{{ rr }}',
        from_consultar_retencion: true,
        tipo: 'RT'
    }
    OptsIO.getTmpl({
        model_app_name: 'Sifen',
        model_name: 'Retencion',
        dbcon: 'default',
        url: '{% url "dtmpl" %}',
        dattrs: dattrs,
        template: 'Sifen/RetencionCreateUi.html',
        raw: true,
        
    }).then((rsp)=>{
        let data = rsp.data;
        UiB.drawModal({
            title: ``,
            content: data,
            target: '.t_modal_retencion',
            nid: mid,
        })
        UiB.kILLLoaderAjax();
    })
  })
{% endif %}

</script>