{% load static io_tags %}
<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% business_name %} System</title>
    <link href="{% static 'css/style.bundle.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'css/icons.min.css' %}?{{ rr }}" rel="stylesheet" type="text/css" />
    <link href="{% static 'fl/frontliner_menu.css' %}?{{ rr }}" rel="stylesheet" type="text/css" />
    <link href="{% static 'fl/frontliner.css' %}?{{ rr }}" rel="stylesheet" type="text/css" />
  </head>
  <body class="show" cz-shortcut-listen="true">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script> 
    <script src="{% static 'js/scripts.bundle.js' %}"></script>
    <script src="{% static 'fl/connectcode-javascript-code128auto.js' %}?{{ rr }}"></script>
    {% block content %}
    {% endblock %}
  </body>
</html>
